*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --bg-color:#936BE80D;
    --pra-color:#696969;
    --btn-color:#8E43E7;
    --about-color:none;
    --body-color:#fff;
    --link-color:#3F3A64;
    --nav-color:#fff;
    --heading-color:#8C89A2;
}
.dark-theme{
    --nav-color:#000;
    --link-color:#fff;
    --body-color:#131617;
    --pra-color:#fff;
    --bg-color:#131617;
    --about-color:#000;
}
.header{
    width: 100%;
    height: auto;
}
.navbar-brand span{
    font-size: 30px;
    margin: 4px 6px;
}
nav{
    background-color: var(--nav-color);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    margin: auto;
}
nav .navbar-toggler{
  background-color: var(--btn-color); 
}
nav .dropdown-menu{
    padding: 2rem;
    border-radius: 10px;
}
.navbar-brand{
    color:var(--btn-color) !important;
    font-size: 2.5rem !important;
    margin: 0px 20px;
    font-weight: 600 !important;
}
nav ul li a{
    color:var(--link-color)!important;
    font-size: 1.4rem;
    padding: 6px 10px !important;
    font-weight: 600;
    position: relative;
}
  nav ul li a::before{
    content: '';
    position: absolute;
    background-color: #ff3c78;
     height: 3px;
     width:0;
     left: 4px;
     bottom: -10px;
     transition: 0.3s;
 }
.nav-item .dropdown-toggle{
    margin: 0px 0px 8px 0px;
}
.nav-item .active{
    color:var(--btn-color) !important;
}

nav ul li a:hover::before{
    width: 90%;
}
.collapse #icon{
    position: relative;
    top: 8px;
    left: 6px;
    width: 1.7rem;
    cursor: pointer;
}
.service-heading{
    background-color:var(--bg-color);
    text-align: center;
    padding: 10rem 0rem 4rem 0rem;
}
.service-heading h1{
    font-size: 4rem;
    color: var(--link-color);
}
.service-heading a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--pra-color);
}
.service-heading .active{
    color: var(--btn-color);
}
.service-heading span{
    color: var(--pra-color);
    padding: 0rem 1rem;
}
.grid-section{
    background-color: var(--nav-color);
  }
 .grid-section .row {
    display: flex;
    margin-left: 3rem; 
    overflow: hidden;
    
  }
  .grid-section .column {
      width: 30.33%;  
      position: relative; 
    overflow: hidden;
  }
 
  .grid-section .column img{
      width: 100%;
      position: relative; 
      border-radius: 10px;
     overflow: hidden;
    
  }
 
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 1rem;
   
  }
  
  /* Create three equal columns that floats next to each other */
   .column {
    float: left;
    width: 33.33%;
    display: none; 
  } 
  
  /* Clear floats after rows */ 
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  
  /* Content */
  /* .content {
    background-color: white;
    padding: 10px;
  } */
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  #myBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.1rem 0rem 3.7rem 0rem;
  }
  #myBtnContainer button{
    /* padding: .4rem; */
    /* margin: .6rem; */
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 10px;
  }
  #myBtnContainer button::after{
    padding: .8rem;
    color: var(--pra-color);
    content: "/";
  }
  
  .btn.active {
    /* background-color: #666; */
    color:var(--btn-color);
  }


  section{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
  }
  section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  section ul li{
    list-style: none;
   font-size: 1.6rem;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  section ul li.active{
    color: var(--btn-color);
  }
  .product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .product .itemBox{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 5px;
    display: block;
  }
  .product .itemBox.hide{
    display: none;
  }
  .product .itemBox img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
  }
  section .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.7;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 10px;
    transition: 1s ease;
  }
  section .itemBox:hover .overlay{
      height: 100%;
  }
  
 section .product .text {
     
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @media(max-width: 868px){
    html{
      font-size: 75%;
    }
    nav ul li a:hover::before{
      width: 0;
  }
    .grid-section .row {
        display: block;
      }
      #myBtnContainer{
        display: block;
      }
      .column {
       float: none;
        width: 100%;
       
      } 
      
}